@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.inputElement {
    width: 70%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  #sectionContact{
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: thick double #B5ADC2;
    width: 40%;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    font-family: 'Poppins', sans-serif;
  }
  
  #message {
    width: 70%;
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  #submitButton{
    width: 90%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }

  .form-input:hover{
    background-color: #FFB3C1;
  }

  #map{
    width: 40%;
    border: thick double #B5ADC2;
  }
 
/*  @media(min-width: 767px){
    .footer-column{
        width: calc(100%/3);
        padding: 0;
    }
}
@media(max-width: 574px){
    .footer-column{
        width: 100%;
    }
} */