
    /* debut Menu Burger */
    ul {
      display: flex;
      flex-direction: row;
  }
  li {
      list-style-type: none;
      padding: 10px;
  }
  a {
      text-decoration: none;
      color: #000000;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  
  @media screen and (max-width: 640px) {
    ul {
      flex-direction: column;
    }
    
    /* Gestion de l'affichage du menu */
    input[type="checkbox"]:not(:checked) ~ ul {
      display: none;
    }
    input[type="checkbox"]:checked ~ ul {
      display: flex;
    }
    
    /* Gestion de la checkbox */
    input[type="checkbox"] + label:before {
      font-family: FontAwesome;
      font-size: 30px;
    }
  
    input[type="checkbox"] + label:before {
      content: "\f0c9";
    }
  
    input[type="checkbox"]:not(:checked) + label:before {
      content: "\f0c9";
    }
  
    input[type="checkbox"]:checked + label:before {
      content: "\f00d";
    }
  
  }  /*fin du menu */


/* debut carousel  */

* { box-sizing: border-box; }

body { font-family: sans-serif; 
background-color: white;
}

.carousel {
  background: white;
}
/* containeur carousel */
.carousel-cell {
  width: 66px;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}


/* height width image */
.carousel-cell img {
  display: block;
  max-width: 400%;
  max-height: 400%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}


/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
 


.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}


/* fin carousel  */
