ul {
    display: flex;
    flex-direction: row;
}
li {
    list-style-type: none;
    padding: 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

input[type="checkbox"] {
  display: none;
}


@media screen and (max-width: 640px) {
  ul {
    flex-direction: column;
  }
  
  /* Gestion de l'affichage du menu */
  input[type="checkbox"]:not(:checked) ~ ul {
    display: none;
  }
  input[type="checkbox"]:checked ~ ul {
    display: flex;
  }
  
  /* Gestion de la checkbox */
  input[type="checkbox"] + label:before {
    font-family: FontAwesome;
    font-size: 30px;
  }

  input[type="checkbox"] + label:before {
    content: "\f0c9";
  }

  input[type="checkbox"]:not(:checked) + label:before {
    content: "\f0c9";
  }

  input[type="checkbox"]:checked + label:before {
    content: "\f00d";
  }

}
