* {
  padding: 0mm;
  margin: 0mm;

}

ul {
    display: flex;
    flex-direction: row;
    
    
}
li {
    list-style-type: none;
    padding: 30px;
    width: 25%;
   text-align: center;
   
       
}
a {
    color: #c1b3d1; 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder; 
    



}

a:hover{
  background-color: rgb(131, 50, 97); 
 
    
}
#burger {

  background-size: 50% ;
  border-color:black ;
  border-style: solid;
  background-image: url(rubymenu.jpg);
  margin-block-start: 0px;
  
  
  
  
}


.menu-burger{
  color: white;
  
}

input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 640px) {
  ul {
    flex-direction: column;
  }
  
  /* Gestion de l'affichage du menu */
  input[type="checkbox"]:not(:checked) ~ ul {
    display: none;
  }
  input[type="checkbox"]:checked ~ ul {
    display: flex;
  }
  
  /* Gestion de la checkbox */
  input[type="checkbox"] 
    font-family: FontAwesome; label:before {
    font-size: 50px;
    color: azure;
  }

  input[type="checkbox"] + label:before {
    content: "\f0c9";
  }

  input[type="checkbox"]:not(:checked) + label:before {
    content: "\f0c9";
  }

  input[type="checkbox"]:checked + label:before {
    content: "\f00d";
  }
 


}
